{% extends 'base.html' %}
{% load humanize %}
{% block extra_style %}
{% endblock %}


{% block subheading %}
  {% if made_by_user %}
    사용자들이 직접 만든 받아쓰기 목록입니다
  {% else %}
    단계별로 학습할 수 있는 받아쓰기 목록입니다
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row" style="padding: 20px">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for level in object_list %}
        <div class="post-preview">
          <a href="{{ level.get_absolute_url }}">
            <h2 class="post-title">
              {{ level.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ level.content }}
            </h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" id="{{ level.id }}" >
              </div>
            </div>
            {% if made_by_user %}
              <p class="post-meta">
                {{ level.created | naturaltime }}
              </p>
            {% endif %}
          </a>
        </div>
        <hr>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script>
      $('.progress-bar').each(function () {
          if(localStorage.getItem('level_' + $(this).attr('id')) != undefined){
              $(this).css('width', localStorage.getItem('level_' + $(this).attr('id')));
          }
      });
  </script>
{% endblock %}