{% extends 'base.html' %}

{% block extra_style %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for level in object_list %}
        <div class="post-preview">
          <a href="{{ level.get_absolute_url }}">
            <h2 class="post-title">
              {{ forloop.counter }} 단계
            </h2>
            <h3 class="post-subtitle">
              {{ level }}
            </h3>
          </a>
          <div class="progress">
            <div class="progress-bar" role="progressbar" id="{{ level.id }}" >
            </div>
          </div>
        </div>
        <hr>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script>
      $('.progress-bar').each(function () {
          if(localStorage.getItem('level_' + $(this).attr('id')) != undefined){
              $(this).css('width', localStorage.getItem('level_' + $(this).attr('id')));
          }
      });
  </script>
{% endblock %}